<a name="top"> </a>
<webobject name = "PageTemplate1">

<div align="center">
<table cellspacing="0" cellpadding="1" border="0" width="100%">
	<tr>
		<td align="left"><a href="#bottom">Aller tout en bas</a></td>
		<td align="right"><webobject name = "LnkUpdateTop"/></td>
	</tr>
</table>
<br/>
<table class="noteBoxBorder" cellspacing="0" cellpadding="1" border="0">
	<tr>
		<td>
			<table class="noteBoxContents" cellspacing="0" cellpadding="10" border="0">
				<tr>
					<td>
						<webobject name = "StrLog"/>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
<br/>
<table cellspacing="0" cellpadding="1" border="0" width="100%">
	<tr>
		<td align="left"><a href="#top">Revenir tout en haut</a></td>
		<td align="right"><webobject name = "LnkUpdateBottom"/></td>
	</tr>
</table>
</div>
<a name="bottom"> </a>
</webobject>