### ==================================================== ###
###   Fichier de configuration de l'application Feve     ###	
### ==================================================== ###



# -------------------------------------------------- #
# ---             PARAMETRES GENERAUX            --- #
# -------------------------------------------------- #


#* L'identifiant de l'application. Il peut etre utilise par differents
#* servces : authentification (SAUT), sauvegarde des documents
#* (GEDFS),... Le ID ne doit pas depasse 10 symboles et il doit etre
#* enregistre aupres de serveur concerne.
#* Il n'est pas conseille de modifier cette valeur.
APP_ID=FEVE


#* Description courte de l'application. Le meme ID pouvant etre partage
#* entre plusieurs versions de l'application, cette valeur permet
#* de fournir les informations complementaires
APP_ALIAS=Feve


#* Le URL de l'acces a l'application. Cette valeur est utilisee si
#* l'application ne peut pas detecter ce URL automatiquement
APP_URL=http://apps.domaine/cgi-bin/WebObjects/Feve.woa/


#* Le URL de service d'authentification. Il permet de recuperer
#* le dictionnaire de connexion a la base de donnees. Si le service
#* SAUT/ServAut n'est pas disponible dans votre systeme, mettez ce
#* parametre en commentaire et renseigner le dictionnaire de connexion
#* directement dans le fichier CongesWeb.eomodeld/index.eomodeld
SAUT_URL=http://saut.domaine/cgi-bin/WebObjects/ServAut.woa/wa/


#* Le dictionnaire de translation des identifiants des dictionnaires
#* de connexion a la base de donnees. Voir la configuration de 
#* serveur SAUT/ServAut, s'il est disponible.
#* Si SAUT_URL n'est pas renseigne, alors cette valeur est ignoree.
SAUT_ID_TRANSLATION=GRHUM:GRHUM,MANGUE:MANGUE


#* Indique s'il faut sous traiter l'authentification au service CAS
#* installe dans l'etablissement. L'URL de contact du service est disponible
#* dans GRHUM.GRHUM_PARAMETRES, PARAM_KEY=CAS_SERVICE_URL
APP_USE_CAS=YES


#* Indique si les mots de passes vides peuvent etre acceptes comme
#* les mots de passes valides. N'est utilise que dans le cas ou le
#* parametre APP_USE_CAS=NO.
#* Les valeurs autorisees sont YES/NO
ACCEPT_EMPTY_PASSWORD=NO


# Indique si l'envoi des messages email est disponible dans l'application.
#* Sans ce support, aucun avertissement ne sera envoye suite a la creation
#* d'une demande ou toute autre action.
#* Les valeurs autorisees sont YES/NO
#* La valeur par defaut est YES
APP_USE_MAIL=YES


#* Le URL de site Web principale de l'etablissement
MAIN_WEB_SITE_URL=http://www.domaine


#* L'URL de l'image "logo" de l'etablissement. Elle est
#* affichee sur la page d'acceuil de l'application et 
#* dans la bare de menu
MAIN_LOGO_URL=http://www.domaine/logo_etablissement.gif


#* L'adresse mail de l'administrateur de l'application. Cette
#* adresse est utilisee pour le lien sur la page d'acceuil "Si vous avez un probleme..."
APP_ADMIN_MAIL=fonctionnel_feve@domaine


# L'adresse mail de reception des exceptions issues de l'application.
# Ce paramètre est facultatif.
# A defaut, c'est APP_ADMIN_MAIL qui recevra la mail d'exception
APP_ERROR_MAIL=informaticien_feve@domaine


#* Niveau de verbosite des fichiers de log
#* - 0 : aucun log 
#* - 1 : logs texte
#* - 2 : logs texte etendus
DEBUG_LEVEL=1


#* Le timezone utilise pour tout ce qui est manipulation des dates
#* (jouer sur cette valeur si vous avez des decalage de 1 ou 2 heures)
APP_TIME_ZONE=CEST


#* Le temps maximum en secondes autorisé au serveur d'impression SIX
#* pour générer un fichier PDF. Au delà, l'édition est considérée comme
#* échouée (on ne fait pas attendre indéfiniment l'utilisateur).
#* Les valeurs autorisees sont des entiers
#* La valeur par défaut est 30
APP_SIX_TTL=30



# -------------------------------------------------- #
# ---       PARAMETRES SPECIFIQUES A FEVE        --- #
# -------------------------------------------------- #


#* Groupe de l'annuaire dont les membres ont les droits d'administrateur.
C_STRUCTURE_ADMIN=12345


#* Indique s'il faut n'autoriser l'acces a l'application qu'aux 
#* administrateurs, pour cause de migration des données, lors d'une
#* mise à jour du référentiel REFERENS. L'administrateur doit alors
#* effectuer les "raccrochages" nécessaires dans l'écran Administration
#* -> Synchro REFERENS. Une fois que tout est fait, alors re-passer
#* ce témoin à NO (sans oublier de redémarrer l'application).
#* Les valeurs autorisees sont YES/NO
#* La valeur par defaut est NO
APP_CLOSED_SYNC_REFERENS=NO


#* Le message personnalisé d'information pour les modifications
#* des meta-donnees d'un poste (code et dates) - fonction disponibles
#* uniquement pour l'administrateur.
MSG_INFO_MODIF_POSTE=Le code ainsi que les dates de validit&eacute; du poste ne sont<br/>modifiables que par le personnel de la DRH


#* La liste des documents statiques additionnels a sortir apres
#* l'edition de la fiche d'evaluation
#* Les valeurs autorisees sont des chaines de caracteres, séparés
#* par des virgules (si plusieurs fichiers).
ADDITIONNAL_URL_DOCUMENTS_EVALUATION=


#* La liste des documents statiques additionnels a sortir apres
#* l'edition de la fiche d'evaluation des fonctionnaires.
#* Ces documents ne seront pas ajouté aux évaluations des contractuels.
#* Les valeurs autorisees sont des chaines de caracteres, séparés
#* par des virgules (si plusieurs fichiers).
ADDITIONNAL_URL_DOCUMENTS_EVALUATION_FONCTIONNAIRE=


#* Correction d'un bug qui a mis une position incorrecte pour
#* certains activites et competences associees aux fiches de poste
APP_FIX_POSITION=NO