<webobject name = "PageTemplate1">
  <webobject name = "ContainerBibiliotheque">
    <webobject name = "CondIsAfficherLnkModification">
      <webobject name = "CondNotIsModification"> <webobject name = "BtnToModification" /> </webobject>
      <webobject name = "CondIsModification">
        <webobject name = "BtnToLectureSeule" />
        <br />
        <font class = "textNote"> NOTE : vous pouvez modifier le classement des documents en faisant un &quot;drag and drop&quot; entre les lignes. </font>
      </webobject>
    </webobject>
    <p align = "center">
      <font class = "mainTitle">Documents aidant &agrave; l'utilisation de l'application</font>
      <br />
      <br />
      <webobject name = "CktlNote1">
        <webobject name = "DocumentationLocale" />
        <br />
        <b>Cartographies REFERENS</b>
        <ul>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.2/carto_bap_A_Sciences_du_vivant.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP A : Sciences du vivant</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.3/carto_bap_B_Sciences_Chimiques_Sciences_des_mat_riaux.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP B : Sciences chimiques Sciences des materiaux</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.4/carto_bap_C_Sciences_de_l_ing_nieur_et_instrumentation_scientifique.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP C : Sciences de l'ingenieur et instrumentation scientifique</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.5/carto_bap_D_Sciences_Humaines_et_Sociales.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP D : Sciences Humaines et Sociales</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.6/carto_bap_E_Informatique__Statistique_et_Calcul_Scientifique.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP E : Informatique, Statistique et Calcul Scientifique</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.7/carto_bap_F_Information.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP F : Information, Documentation, Culture, Communication, Edition, TICE</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.8/carto_bap_G_Patrimoine__logistique__pr_vention_et_restauration.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP G : Patrimoine, logistique, pr&eacute;vention et restauration</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.9/carto_bap_J_Gestion_et_pilotage.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;BAP J : Gestion et pilotage</a>
          </li>
        </ul>
        <br />
        <b>Documents r&eacute;glementaires</b>
        <ul>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/1112090839.0/De_cret_du_28_juillet_2010_appre_ciation_de_la_valeur_pro.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;D&eacute;cret du 28 juillet 2010 relatif aux conditions g&eacute;n&eacute;rales de l'appr&eacute;ciation de la valeur professionnelle des fonctionnaires de l'&eacute;tat</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/0904031101.10/Arr_t__du_10_avril_2008_relatif___l_entretien_professionnel_personnels_ASU_et_BU.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;Arr&ecirc;t&eacute; du 10 avril 2008 relatif &agrave; l'entretien professionnel</a>
          </li>
          <li>
            <a href = "http://www.univ-lr.fr/actes/ged/dt/commun/1201181053.0/d_cret_du_2912011_appr_ciation_valeur_pro_agent_de_l__tat.pdf" target = "_blank" title = "Ouvrir le document au format PDF"> <webobject name = "ImgPdf" />&nbsp;D&eacute;cret entretien professionnel du 29/12/2011</a>
          </li>
        </ul>
      </webobject>
    </p>
  </webobject>
</webobject>