<TABLE WIDTH=100% BORDER=0 CELLSPACING=2 CELLPADDING=0>
	<TR>
		<TD>
		<TABLE ALIGN=center CELLPADDING=0 CELLSPACING=0>
			<TR>
				<WEBOBJECT NAME=RepMenu>
				<WEBOBJECT NAME=TabMenu>
				<WEBOBJECT NAME=LinkMenu>
				<WEBOBJECT NAME=LibelleTabMenu></WEBOBJECT>
				</WEBOBJECT>
				</WEBOBJECT>
				</WEBOBJECT>
			</TR>
		</TABLE>
		</TD>
	</TR>
	<TR>
		<td align="center">
			<webobject name = "FormAdminDivers">
				<webobject name = "CondIsDiversSyncReferens"><webobject name = "PageAdminSyncReferens1"/></webobject>
				<webobject name = "CondIsDiversSqueletteFiche"><webobject name = "PageAdministrationTemplate1"/></webobject>
			</webobject>
		</td>
	</TR>
</TABLE>
