<table>
	<tr>
		<td valign="top">
			<table class="listboxBorder" border="0" cellpadding="1" cellspacing="0">
				<tr>
					<td>
						<table border="0" cellpadding="2" cellspacing="1" width="100%">
							<tr class="listboxHeader"><th>Signification de la couleur des lignes</th></tr>
							<tr class="listboxLine">
								<td align="left">L'&eacute;l&eacute;ment et son contenu sont modifiables</td>
							</tr>
							<tr style="background-color:#DDDDDD">
								<td align="left">L'&eacute;l&eacute;ment et son contenu ne sont pas modifiables</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<br/>
			<table class="listboxBorder" border="0" cellpadding="1" cellspacing="0">
				<tr>
					<td>
						<table border="0" cellpadding="2" cellspacing="1" width="100%">
							<tr class="listboxHeader"><th><font class="textError">Attention</font></th></tr>
							<tr class="listboxLine">
								<td>Seules les fiches <u>actuelles</u> peuvent &ecirc;tre modif&eacute;es !</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		<webobject name="CondShowLegendeIcones">
		<td style="width:20px">&nbsp;</td>
		<td>
			<table class="listboxBorder" border="0" cellpadding="1" cellspacing="0">
				<tr>
					<td>
						<table border="0" cellpadding="2" cellspacing="1" width="100%">
							<tr class="listboxHeader"><th colspan="2">L&eacute;gende des icones</th></tr>
							<tr class="listboxLine">
								<td align="center"><webobject name="ImgModif"></webobject></td>
								<td align="left">Vous avez les droits de modification sur l'&eacute;l&eacute;ment</td>
							</tr>
							<tr class="listboxLine">
								<td align="center"><webobject name="ImgVisu"></webobject></td>
								<td align="left">Vous avez les droits de visualisation sur l'&eacute;l&eacute;ment</td>
							</tr>
							<tr class="listboxLine">
								<td align="center"><webobject name="ImgInterdit"></webobject></td>
								<td align="left">Vous n'avez aucun droit sur l'&eacute;l&eacute;ment</td>
							</tr>
							<tr class="listboxLine">
								<td align="center"><webobject name="ImgUnLocked"></webobject></td>
								<td align="left">L'&eacute;l&eacute;ment est modifiable.</td>
							</tr>
							<tr class="listboxLine">
								<td align="center"><webobject name="ImgLocked"></webobject></td>
								<td align="left">L'&eacute;l&eacute;ment n'est plus modifiable (ex: fiche vis&eacute;e)</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
		</webobject>
	</tr>
</table>
			








