{
    attributes = (
        {
            columnName = "NO_DOSSIER_PERS"; 
            externalType = NUMBER; 
            name = noDossierPers; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (noDossierPers); 
    className = "org.cocktail.feve.eos.modele.grhum.EOVPersonnelActuelEns"; 
    classProperties = (toIndividu); 
    externalName = "GRHUM.V_PERSONNEL_ACTUEL_ENS"; 
    fetchSpecificationDictionary = {}; 
    internalInfo = {
        "_clientClassPropertyNames" = (toIndividu); 
        "_nameInObjectStore" = "V_PERSONNEL_ACTUEL_ENS"; 
    }; 
    isReadOnly = Y; 
    name = VPersonnelActuelEns; 
    primaryKeyAttributes = (noDossierPers); 
    relationships = (
        {
            destination = Individu; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = noIndividu; sourceAttribute = noDossierPers; }); 
            name = toIndividu; 
        }
    ); 
}
