{
    attributes = (
        {
            columnName = "CON_CAR"; 
            externalType = VARCHAR2; 
            name = conCar; 
            valueClassName = NSString; 
            valueType = S; 
            width = 10; 
        }, 
        {
            columnName = "D_DEBUT"; 
            externalType = DATE; 
            name = dDebut; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            allowsNull = Y; 
            columnName = "D_FIN"; 
            externalType = DATE; 
            name = dFin; 
            valueClassName = NSCalendarDate; 
            valueType = T; 
        }, 
        {
            columnName = "NO_DOSSIER_PERS"; 
            externalType = NUMBER; 
            name = noDossierPers; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (conCar, noDossierPers); 
    className = "org.cocktail.feve.eos.modele.grhum.EOVPersonnelNonEns"; 
    classProperties = (dDebut, dFin, toIndividu); 
    externalName = "GRHUM.V_PERSONNEL_NON_ENS"; 
    fetchSpecificationDictionary = {}; 
    isReadOnly = Y; 
    name = VPersonnelNonEns; 
    primaryKeyAttributes = (conCar, dDebut, noDossierPers); 
    relationships = (
        {
            destination = Individu; 
            isMandatory = Y; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = noIndividu; sourceAttribute = noDossierPers; }); 
            name = toIndividu; 
        }
    ); 
}
