<webobject name="CktlDefaultPage1">

 	<webobject name = "CktlAjaxUiMessageContainer"/>

	<webobject name="CondIsNotPageLogin">
		<div style="width:100%">
			<webobject name="Menu"/>
			<table>
				<tr>
					<td width="49%"><hr/></td>
					<td nowrap>
						<font class="mainTitle">
							<webobject name="StrPageEnCoursTitre"/>
						</font>
					</td>
					<td width="49%"><hr/></td>
				</tr>
			</table>		
		</div>
	</webobject>
	<div id="busy" style="display: none; position: absolute; top: 50%; left: 50%; z-index: 9999;">
 		<webobject name="Indicateur"/>
  </div>
  <webobject name="Busy"/>
	<webobject name="ComponentContent1"/>
</webobject>
