<webobject name = "CondIsDisabled">
	<webobject name = "LnkDoc"/>
</webobject>

<webobject name = "CondNotIsDisabled">

	<webobject name = "Error"/>

	<webobject name = "CondNotIsEnModification">
		<webobject name = "LnkDoc"/>
		<webobject name = "BtnModifier"/>
	</webobject>
	
	<webobject name = "CondIsEnModification">
		<ul>
			<li>libellé : <webobject name = "TFLibelle"/></li>
			<li>URL : <webobject name = "TFUrl"/></li>
		</ul>
		<webobject name = "BtnSauvegarder"/>
	</webobject>
	
</webobject>