<webobject name="PageTemplate1">


	<div style="margin-left:auto; margin-right:auto;" align="center">
		<webobject name="CondShowWarnMessage">
			<webobject name="YPanelAvertissement1"><webobject name="StrWarnMessage"/></webobject><BR>
		</webobject>
		<webobject name="CondShowFdp">
			<div style="border: 1px dotted #888" class="listboxLine"><font class="subTitle">Mes fiches de poste</font></div>
				<webobject name="CompFicheDePosteList1"/>
		</webobject>
		<webobject name="CondShowFlo">
			<webobject name = "FormLolf">
			<div style="border: 1px dotted #888" class="listboxLine"><font class="subTitle">Mes fiches LOLF</font></div>
			<font class="textEntry">Poste : </font><webobject name = "PopUpPoste"/><br/>
			<webobject name="CompFicheLolf1"/>
			</webobject>
		</webobject>
		<webobject name="CondShowEva">
			<div style="border: 1px dotted #888" class="listboxLine"><font class="subTitle">Mes entretiens professionnels</font></div>
			<webobject name="ListeEvaluation1"/>
		</webobject>
		<webobject name="CondShowLegend">
			<webobject name="CompLegendeListe1"/>
		</webobject>
	</div>
	
	
</webobject>